/*colotbootom #0b9146*/

body {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    min-width: 320px;
    background-image: url('../img/bg.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

/*--header--*/
header {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    border-color: #e7e7e7;
}

nav {
    height: 73px;
    line-height: 73px;
}

.menu-nav {
    list-style-type: none;
    width: 650px;
    margin: 0 auto;
}

    .menu-nav li {
        display: inline-block;
        padding: 0 20px;
        border-right: 1px dotted #ccc;
        line-height: 20px;
    }

        .menu-nav li:nth-last-child(1) {
            border-right: none;
        }

    .menu-nav a {
        text-decoration: none;
        font-size: 10pt;
        color: #4d4d4d;
        font-family: "Montserrat-Bold", sans-serif;
    }

        .menu-nav a:hover,
        .menu-nav a:focus {
            text-decoration: none;
            color: #0b9146;
        }

/*Logo-brend-icon*/
.fai-color a {
    color: #ccc;
}

.fai-color i:hover {
    color: #0b9146;
}

.brev-form {
    font-family: "Montserrat-Regular", sans-serif;
    margin-top: 0 !important;
}

    .brev-form .sform input {
        width: 75px;
    }

.menu-brend-icon {
    padding-top: 60px;
    text-align: center;
}

    .menu-brend-icon i {
        padding: 0 5px;
    }

    .menu-brend-icon a {
        color: #ccc;
    }

        .menu-brend-icon a:hover {
            color: #333;
        }

    .menu-brend-icon img {
        padding-bottom: 70px;
    }

.tagline-line p {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 30px 0 30px 0;
    overflow: hidden;
}

    .tagline-line p:before,
    .tagline-line p:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        height: 1px;
        background: #0b9146;
        border: solid #FFF;
        border-width: 0 10px;
    }

    .tagline-line p:before {
        margin-left: -100%;
    }

    .tagline-line p:after {
        margin-right: -100%;
    }

/*carousel*/
.my-carousel {
    background-color: #595959;
    height: 100%;
    padding: 5% 0 5% 0;
}

.my-carousel-inner {
    text-align: center;
}

    .my-carousel-inner h3 {
        color: #fefefe;
        font-family: "Montserrat-Bold", sans-serif;
        width: 52%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .my-carousel-inner p {
        font-family: "Montserrat-Italic", sans-serif;
        width: 50%;
        color: #d0d0d0;
        font-style: italic;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .my-carousel a:hover,
    .my-carousel a:focus {
        color: #0b9146;
        text-decoration: none;
    }

.my-control-icon {
    position: absolute;
    width: 100%;
    top: 50%;
}

    .my-control-icon a {
        margin: 0 10% 0 10%;
        height: 40px;
        width: 40px;
        background-color: #474747;
        border: 1px solid #686868;
        border-radius: 3px;
        color: #fff;
    }

    .my-control-icon i {
        margin: 14px;
    }

.my-control-left {
    float: left;
}

.my-control-right {
    float: right;
}

/*buttons*/
.my-btn {
    font-size: 12px;
    text-transform: uppercase;
    height: 100%;
    margin: 20px;
}

.my-btn-success {
    background-color: #24b965;
    border: 1px solid #24b965;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Montserrat-Bold", sans-serif;
    box-shadow: 0px 0px 0px 6px rgb(123, 123, 123);
}

    .my-btn-success span {
    }

.btn-lx {
    padding: 10px 30px;
}
