/*colotbootom #0b9146*/

body {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    min-width: 320px;
    background-image: url('../img/bg.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

/*--header--*/
header {
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    border-color: #e7e7e7;
}

nav {
    height: 73px;
    line-height: 73px;
}

.menu-nav {
    list-style-type: none;
    width:650px;
}

    .menu-nav li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px dotted #ccc;
    }

    .menu-nav li:nth-last-child(1) {
        border-right: none;
    }

    .menu-nav a {
        text-decoration: none;
        font-size: 13pt;
        color: #4d4d4d;
        font-family: "Montserrat-Bold", sans-serif;
    }
    .menu-nav a:hover,
    .menu-nav a:focus{
        text-decoration:none;
        color: #0b9146;
    }
    .fai-color a{
        color:#ccc;
    }
    .fai-color i:hover{
        color: #0b9146;
    }
/*.header {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 73px;
    background-color: #ffffff;
}

.head-row {
    padding-top: 24px;
}

.log-row {
    padding-top: 48px;
}
.log-row i{
    padding-right:10px;
}

.brd {
    border-bottom: 1px solid transparent;
    border-color: #e7e7e7;
}
a i{
    color:#ccc;
}

ul.vcenter li {
    display: inline;
    padding: 0 20px;
    border-right: 1px dotted #ccc;
}

    ul.vcenter li:nth-last-child(1) {
        border-right: none;
    }

span.menuseparator {
    margin-top: 4px;
    position: absolute;
    width: 1px;
    height: 16px;
    background-image: url('../img/heder/Layer-5.png');
}

.nounderline a {
    text-decoration: none;
    font-size: 13pt;
    color: #4d4d4d;
    font-weight: 800;
}

    .nounderline a:hover {
        color: #0b9146;
    }

.border-ivon-right {
    height: 25px;
    border-right: 1px dotted #ccc;
}

.border-ivon-left {
    height: 25px;
    border-left: 1px dotted #ccc;
}

.main {
}

.foter {
}*/
