/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .mblok-large-dn span {
        margin: 0 5%;
        font-size: 12px;
    }

    .mblok-right-gift img {
        width: 60%;
    }

    .mblok-right-gift p {
        font-size: 10px;
    }

    .mblok-md-dn input {
        width: 100%;
        margin-bottom: 2%;
    }

    .mblok-md-dn button {
        width: 100%;
        margin-top: 2%;
        background-color: #24b965;
        color: #fff;
    }

    .mblok-md-dn .my-btn-add:after {
        position: unset;
        left: unset;
        background-color: none;
        content: none;
    }

    .my-logo {
        width: 50%;
    }

    #my-form-Subscribe {
        display: grid;
        border-left: none;
        border-right: none;
    }

        #my-form-Subscribe input[type=submit] {
            border: 1px solid #24b965;
            border-bottom-right-radius: unset;
            border-top-right-radius: unset;
        }

        #my-form-Subscribe input[type=text] {
            text-align: center;
        }

    .mblok-md {
        width: 47%;
        text-align: center;
    }
    .mblok-indent {
        margin-left: 35px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .mblok-right-gift {
        padding: 10% 0 8% 0;
        margin-bottom: 40px;
    }

        .mblok-right-gift img {
            margin-left: 35%;
            width: initial;
        }

        .mblok-right-gift p {
            font-size: 12px;
            margin: 1% 0 0 37%;
        }

    .my-logo {
        width: auto;
    }

    .mblok-md {
        width: 100%;
        float: none;
        text-align: center;
    }

    .mblok-indent {
        margin-left: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .mblok-large-dn {
        padding: 2%;
    }

        .mblok-large-dn span {
            margin: 2%;
            font-size: 16px;
        }

        .mblok-large-dn input {
            width: 100%;
            margin-bottom: 2%;
        }

        .mblok-large-dn button {
            width: 100%;
            margin-top: 2%;
            background-color: #24b965;
            color: #fff;
        }

    .my-btn-add:after {
        position: unset;
        left: unset;
        background-color: none;
        content: none;
    }

    .mblok-right-gift img {
        margin-left: 25%;
        width: initial;
    }

    .mblok-right-gift p {
        margin: 1% 0 0 27%;
    }

    .my-fut-bl-center button {
        margin-left: 35%;
    }
}

@media only screen and (max-width : 767px) {
    /*--header--*/
    header{
        padding-bottom: 40px;
    }
    .navbar-header
    {
        background-color: #ffffff;
        border-bottom: 1px solid transparent;
        border-color: #e7e7e7;
    }

    nav {
        position: absolute;
        width: 100%;
        line-height: 30px;
        z-index: 9999;
    }

    #top-nav {
        background-color: #ffffff;
        border-bottom: 1px solid #e7e7e7;
    }

    .menu-nav{
        width: 100%;
        margin: 20px 0 40px 0;
        padding: 0px;
    }

    .menu-nav li {
        padding: 0;
        border-right: none;
        line-height: 40px;
        display: block;
    }
    .menu-nav>li>a:hover,
    .menu-nav>li>a:focus{
        background-color: #ccc;
    }

     .menu-nav>li>a{
         display: block;
         padding: 3px 20px;
         line-height: 2; 
     }

    .menu-nav a:hover{
        color: unset;
    }

    .menu-nav a:focus{
        color: #4d4d4d;;
    }

    .menu-brend {
        padding-top: 90px;
    }

    .my-logo-nav{
        display: block;
        float: left;
        width: 20%;
        margin: 15px;
    }

    .my-logo{
        display: none;
    }

    ul.dropdown-menu{
        width: 100%;    
        border-radius: unset;
    }

        ul.dropdown-menu>li>a:hover{
        background-color: #ccc;    
    }

    #brev-align{
        float: left;
        margin-right: 20px;
    }

    .brev-form .sform input {
        width: 100%
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .mblok-right-gift img {
        margin-left: 25%;
        width: 50%;
    }

    .mblok-right-gift p {
        font-size: 10px;
        margin: 1% 0 2% 27%;
    }

    .mblok-large-dn {
        padding: 1%;
    }

        .mblok-large-dn span {
            margin: 0;
            font-size: 10px;
        }

    #my-go-top {
        margin: 40px 0 40px 160px;
    }

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .mblok-right-gift img {
        margin-top: 5%;
        margin-left: 38%;
        width: 25%;
    }

    .mblok-right-gift p {
        font-size: 6px;
        margin: 1% 0 5% 31%;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .brev-form .sform input {
        width: auto;
    }
}
