/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .mblok-large-dn span {
        margin: 0 5%;
        font-size: 12px;
    }

    .mblok-right-gift img {
        width: 60%;
    }
    .mblok-right-gift p {
        font-size: 10px;
    }

    .mblok-md-dn input {
        width: 100%;
        margin-bottom: 2%;
    }

    .mblok-md-dn button {
        width: 100%;
        margin-top: 2%;
        background-color: #24b965;
        color: #fff;
    }

    .mblok-md-dn .my-btn-add:after {
        position: unset;
        left: unset;
        background-color: none;
        content: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .mblok-right-gift {
        padding: 10% 0 8% 0;
        margin-bottom: 40px;
    }
        .mblok-right-gift img {
            margin-left: 35%;
            width: initial;
        }
    .mblok-right-gift p {
        font-size: 12px;
        margin: 1% 0 0 37%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .mblok-large-dn {
        padding: 2%;
    }

        .mblok-large-dn span {
            margin: 2%;
            font-size: 16px;
        }

        .mblok-large-dn input {
            width: 100%;
            margin-bottom: 2%;
        }

        .mblok-large-dn button {
            width: 100%;
            margin-top: 2%;
            background-color: #24b965;
            color: #fff;
        }

    .my-btn-add:after {
        position: unset;
        left: unset;
        background-color: none;
        content: none;
    }

    .mblok-right-gift img {
        margin-left: 25%;
        width: initial;
    }
    .mblok-right-gift p {
        margin: 1% 0 0 27%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .mblok-right-gift img {
        margin-left: 25%;
        width: 50%;
    }
    .mblok-right-gift p {
        font-size: 10px;
        margin: 1% 0 2% 27%;
    }
    .mblok-large-dn {
        padding: 1%;
    }

        .mblok-large-dn span {
            margin: 0;
            font-size: 10px;
        }
    .my-logo {
        width: 50%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .mblok-right-gift img {
        margin-top: 5%;
        margin-left: 38%;
        width: 25%;
    }

    .mblok-right-gift p {
        font-size: 6px;
        margin: 1% 0 5% 31%;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .brev-form .sform input {
         width: auto; 
    }
}
